body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: green;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 20px;

}

.logo img {
  height: 30px;
}

.title {
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 10px;
}

.navbar li:first-child {
  margin-left: 0;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  margin-right: 30px
}

.navbar li a:hover {
  color: #555;
}

.welcome-section {
  text-align: left;
  background-color: green;
  padding: 10px;
  color: #fff;
}

.welcome-heading {
  margin-top: 80px;
}

.link {
  margin-top: 60px;
}

.link .hire:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.hire {
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 9px 25px;
  margin: 25px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
}

.iframe-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: px;
  margin-right: 20px;
}

iframe {
  border: none;
  width: 350px;
  height: 430px;
}

/* Adjustments to fit within a single page */

html,
body {
  height: 100%;
  overflow: auto;
width: 100%;
}


